.container,
.container-fluid {
    max-width: 960px;
}

.bg-img {
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.btn {
    border-bottom: solid 4px #a93731;
    border-radius: 7px;
    background-color: #ff493f;
    color: #fff;
}

.btn:hover,
.btn:active,
.btn:focus {
    color: #fff;
    box-shadow: 1px 1px 20px #ff493f;
}

.btn:active {
    border-bottom-width: 0;
    box-shadow: inset 1px 1px 20px rgba(0, 0, 0, 0.25);
    margin-bottom: 4px;
}

h1 {
    font-size: 4.7em;
    font-weight: 700;
}

h2 {
    font-size: 2.2em;
    font-weight: 700;
}

h3 {
    font-size: 1.8em;
    font-weight: 700;
}

.navbar {
    border-top: 10px solid #ff493f;
}

.navbar > .container {
    background-color: #fff;
    max-width: 960px;
    width: 100%;
}

.navbar-brand {
    padding: 10px;
}

.navbar-nav {
    height: 100px;
}

.navbar-nav > li {
    border-right: 1px solid #e8e8e8;
    max-width: 150px;
    height: 60px;
    margin: 20px 0;
}

.navbar-nav > li:hover {
    background-color: #ff493f;
}

.navbar-nav > li > a {
    color: #333;
    height: 100px;
    margin-top: -20px;
    padding-top: 30px;
}

.navbar-nav > li:hover > a,
.navbar-nav > li > a:hover {
    background-color: #ff493f;
    border-color: #ff493f;
    color: #fff;
}

.navbar-nav > li > .custom-pad {
    padding-top: 40px;
}

.navbar-nav > .contacts,
.navbar-nav > .socials {
    border: none;
}

.navbar-nav > .socials {
    padding: 20px 0 20px 30px;
}

.navbar-nav > .socials:hover,
.navbar-nav > .socials:hover > a {
    background-color: #fff;
    color: inherit;
}

.navbar-nav > .socials > a {
    display: inline;
    padding: 0 2px;
}

.navbar-nav > .socials > a:hover {
    color: #ff493f;
}

.header {
    background-image: url("/static/header_bg.png");
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

.adv {
    margin-top: 150px;
}

.adv-title {
    background-color: #ff493f;
    color: #fff;
    line-height: 1;
    margin: 0;
    padding: 5px 10px;
}

.adv-descr {
    background-color: #fff;
    color: #ff493f;
    line-height: inherit;
    margin: 30px 0 50px 0;
    padding: 5px 10px;
}

.quest {
    background-color: #fff;
    padding: 50px 0;
    position: relative;
    width: 100%;
}

.quest-logo {
    display: block;
    margin: 0 auto;
}

.quest-logo-sherlock {
    margin-left: -250px;
}

.quest-logo-col-lab {
    float: right;
}

.quest-info {
    font-size: 1.2em;
    margin: 40px auto;
    padding: 0;
}

.quest-info > li {
    display: table-cell;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1;
    min-width: 100px;
    text-align: center;
}

.quest-info-sherlock {
    margin-top: 0;
}

.quest-info-lab {
    margin-left: -30px;
    max-width: 300px;
}

.quest-title-lab {
    margin-top: 0;
}

.quest-title-maze {
    margin-top: 0;
}

.quest-title {
    color: #d24a43;
    margin-bottom: 0;
}

.quest-type {
    margin-top: 0;
}

.quest-type > span {
    color: #d24a43;
}

.quest-descr {
    font-size: 1.2em;
}

.quest-signin {
    display: block;
    margin: 40px auto;
    width: 200px;
}

.quest-bg {
    position: absolute;
}

.quest-bg-lab-left {
    left: -200px;
    top: 60px;
}

.quest-bg-lab-right {
    right: -140px;
    top: 60px;
}

.quest-bg-maze {
    left: -200px;
    top: 420px;
}

.quest-transform {
    border: 2px solid #d24a43;
    max-width: 960px;
}

.quest-transform-sherlock {
    transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
}

.quest-transform-lab {
    transform: rotate(178deg);
    -webkit-transform: rotate(178deg);
    -ms-transform: rotate(178deg);
}

.reasons {
    background-image: url("/static/header_bg.png");
    background-repeat: no-repeat;
    color: #fff;
    padding: 100px 0;
}

.reasons-list {
    display: block;
    margin: 100px auto;
    width: 100%;
}

.reason {
    color: #fff;
    display: inline;
    border: 4px solid;
    border-radius: 50%;
    font-size: 4.7em;
    font-weight: 700;
    margin: 0 20px;
    padding: 0 20px;
    text-decoration: none;
}

.reason:hover,
.reason:focus,
.reason:active {
    color: #ff493f;
    text-decoration: none;
}

.rules {
    height: 750px;
    padding-top: 100px;
}

.rules > .container-fluid {
    height: 100%;
}

.reviews {
    background-image: url("/static/reviews_bg.png");
    background-repeat: no-repeat;
    color: #fff;
    padding: 80px 0;
    width: 100%;
}

.reviews-title {
    margin-bottom: 40px;
}

.review-text, .review-author {
    background-color: transparent;
    text-align: left;
}

.review-text {
    font-size: 1.5em;
}

.review-author {
    font-size: 1.8em;
}

.review-photo {
    width: 200px;
}

.map {
    border: 0;
    width: 100%;
}

.transform {
    background-color: #fff;
    height: 150px;
    position: relative;
    width: 100%;
}

.transform-top {
    margin-top: -120px;
    transform: skewY(178deg);
    -webkit-transform: skewY(178deg);
    -ms-transform: skewY(178deg);
}

.transform-bottom {
    margin-bottom: -120px;
    transform: skewY(2deg);
    -webkit-transform: skewY(2deg);
    -ms-transform: skewY(2deg);
}

.transform-top.transform-rules {
    margin-top: -160px;
}

.transform-bottom.transform-rules {
    margin-top: -80px;
}


.transform-top.transform-contacts {
    margin-top: -60px;
}

@media screen and (max-width: 992px) {
    .navbar > .container {
        min-height: 100px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .collapse.in {
        display: block !important;
    }

    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
        font-size: 2.5em;
    }

    .navbar-nav {
        float: none;
        font-size: 2.5em;
        height: auto;
        margin-top: 60px;
    }

    .navbar-nav > li {
        float: none;
        height: auto;
        margin: 0;
        max-width: 100%;
    }

    .navbar-nav > li > a {
        height: auto;
        margin-top: 0;
        padding: 30px 0;
    }

    .navbar-nav > li > a > br {
        display: none;
    }

    .navbar-nav > .socials {
        padding-top: 50px;
    }

    .navbar-nav > .socials > a {
        padding: 0 40px;
    }

    .learn-more {
        font-size: 3.5em;
    }

    .quest-logo-sherlock {
        margin-left: auto;
    }

    .quest-logo-col-lab {
        float: none;
    }

    .quest-info {
        font-size: 2.5em;
    }

    .quest-info-lab {
        margin-left: 0;
        max-width: 100%;
    }

    .quest-signin {
        font-size: 4.0em;
        width: 400px;
    }
}

@media screen and (max-width: 1200px) {
    .quest-bg {
        display: none;
    }
}
